{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @keyframes fadeIn {
            0% { opacity: 0; transform: scale(0.95); }
            100% { opacity: 1; transform: scale(1); }
        }

        .fade-in {
            animation: fadeIn 1s ease-out forwards;
        }
    </style>
</head>
<body class="bg-pink-500 flex items-center justify-center h-screen">

    <div class="fade-in text-center">
        <img src="{% static 'images/splash.png' %}" alt="Homino Logo" class="w-56 h-24 mx-auto mb-4">
        <!-- <h1 class="text-white text-3xl font-bold">Homino</h1> -->
        <!-- <p class="text-gray-900 text-sm mt-2">Connecting You With The Right Services</p> -->
    </div>

    <!-- Redirect after 3 seconds -->
    <script>
        setTimeout(function(){
            window.location.href = "{% url 'home' %}";
        }, 3000);
    </script>

</body>
</html>
